.game {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  row-gap: 6px;
  column-gap: 6px;
  background-color: black;
  height: 450px;
  width: 450px;
  margin: 30px;
}

.square {
  display: inline-grid;
  background-color: white;
  place-items: center;
  font-family: 'Chelsea Market', cursive;
  font-size: 70px;
}

.activePlayer {

}

.inactivePlayer {
  
}
